input[type="text"]{
	text-align: center;
	width: 25%;
	height: 4%;
	border-radius: 5px;
	color: darkorange;
	font-size: 1em;
	margin-top: 50px;
}
input[type="submit"]{
	display: inline;
	margin: auto;
	text-align: center;
	width: auto;
    background: linear-gradient(to bottom,  silver 10%, white 100%);
    border-radius: 5px;
    font-family: Courier New;
    padding: 3px 10px;
	font-weight: bold; 
	color: black;
	font-size: 1em;
	margin-bottom: 5px;
	outline-color: silver;
	margin-right: 1%;
}
p{
	text-align: center;
	font-size: 1em;
	font-style: italic;
	color: blue;
}